@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');&{}
*{
    font-family: "PT Sans", sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to right, #01022d,#000000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-image:
    linear-gradient(to right, #01022de5 30%,#0000008f),
    url(../imeges/Avatar.webp)
    ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 100%;
}
.container:hover{
    background-image:
    linear-gradient(to right, #01022de5 30%, transparent),
    url(../imeges/Avatar.webp)
    ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    /* text-transform: uppercase; */
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: white;
}
.content{
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    font-size: 100px;
}
.content p{
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0px;
}
.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.content button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}