body{
    background-image: url(/imeges/background2-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: inherit;
}
h1{
    color: white;
}
label{
    color: white;
}