body{
    background-color: rgb(255, 255, 255);
}

#box{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 99, 99);
    font-size: 13em;
    text-align: center;
   
    }
    img{
        animation-name: slideLeft;
        animation-duration: 10s;
        animation-duration: 10s;
        animation-iteration-count: 1;
        animation-duration: normal;
        animation-play-state: running;
        animation-timing-function: cubic-bezier(0.28, -1.48, 0.54, 2.21);
    }
@keyframes sliadeLeft{
    from{transform: translateX(300%)}
}
@keyframes sliadeRight{
    to{transform: translateX(300%)}
}
@keyframes sliaderUp{
    from{transform: translateY(300%)}
}
@keyframes sliaderDown{
    to{transform: translateY(300%)}
}
@keyframes rotate{
    50%{transform: translateZ(360deg)}
}
@keyframes fade{
    100%{opacity:1;}
}
@keyframes colorChange{
    0%{background-color: rgb(255, 114, 90);}
    20%{background-color: rgb(255, 179, 80);}
    40%{background-color: rgb(211, 255, 54);}
    60%{background-color: rgb(32, 229, 255);}
    80%{background-color: rgb(33, 122, 255);}
    100%{background-color: rgb(255, 51, 51);}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow}
}