
.myButtons{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px ;
}

.enabled{
    background-color: rgb(6, 218, 255);
    color: hsl(0, 0%, 100%);
}

.hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
}

.disabled{
    background-color: hsl(0, 0%, 60%);
    color: hsl(0, 2%, 80%);
}