body{
    font-family: verdana;
    font-size: 0.9rem;
    padding: 2em;
    border: ridge;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(255, 196, 148);
    color: rgb(0, 0, 0);
    display: block; 
    border-radius: 2em;
    box-shadow: 10px 10px 15px rgb(54, 74, 71);
    text-align: center;
    margin: 1em;
    height: 12em;
}
p{
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow: 1px 10px 8px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: p;
}
