body{
    font-family: verdana;
    font-size: 0.9rem;
    padding: 2em;
    border: ridge;
    font-weight: bold;
    font-style: inherit;
    background-color: rgb(44, 77, 224);
    color: rgb(0, 0, 0);
    display: inline-block; 
    border-radius: 2em;
    box-shadow: 1px 5px 10px 15px rgb(26, 15, 224);
    text-align: center;
    margin: 2em;
    height: 14em;
}
p{
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow: 1px 15px 15px;
}