* {
    box-sizing: border-box;
}
.container{
background-color: hsl(0, 0%, 50%);
height: 100vh;
}
.box{  
    background-color: hsl(0, 0%, 100%);
      border: 2px solid;
      padding: 25px;
     height: auto;
    width: 100%;
    float: left;
    text-align: center;

    min-height: 50%;
}
p{background-color: hsl(195, 53%, 79%);
   
}