#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(231, 186, 218);
    position: sticky;
    top: 0px;
    left: 0px;
    }
    #box2{
        width: 100px;
        height: 100px;
        background-color: rgb(145, 94, 226);
        position: absolute;
        top: 50px;
        left: 50px;
        }
        
        