body{
    background-color: rgb(128, 134, 248);
    color: rgb(0, 13, 252);
    font-size: large;
    font-family: verdana;
    font-weight: bold;
    padding-top: 1em;
    text-align: center;

}
h1{
    text-shadow: 5px 15px 9px;
}
p{
    text-shadow: 1px 15px 10px;
}