body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

h1{
    font-size: 3rem;
    color: rgb(53, 53, 53);
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(271, 67%, 84%);
    cursor: pointer;
    transition: font-size 1s, background-color 0.5s ease;
}

.choices button:hover{
    background-color: hsl(271, 67%, 64%);
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}

.scoreDisplay{
    font-size: 2rem;
}

.greenText, #playerScoreDisplay{
    color: hsl(120, 86%, 68%);
}

.redText, #computerScoreDisplay{
    color: hsl(0, 100%, 76%);
}